/* || Custom properties */
:root{
    --darkBlue: hsl(213, 19%, 18%);
    --darkerBlue: hsl(216, 12%, 8%);
    --lightDarkBlue: hsl(216, 12%, 24%);
    --lightGrey: hsl(217, 12%, 63%);
    --primary: hsl(25, 97%, 53%);
    --mediumGrey: hsl(216, 12%, 54%);
    --white: hsl(0, 0%, 100%);
 }
    
/* || General rules */
html{
    box-sizing: border-box;
    height: 100%;
} 

body{
    align-items: center;
    background-color: var(--darkerBlue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: "Overpass","sans-serif";
    justify-content: center;
    min-height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.attribution {
    bottom: 0.625rem;
    position: absolute;
}


.radio-btn,
.star-icon{
    align-items: center;
    background-color: var(--lightDarkBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 2.625rem;
    width: 2.625rem;
}

.radio-btn{
    cursor: pointer;
    position: relative;
}

.radio-btn:hover{
    background-color: var(--primary);
    color: var(--white);
}

.radio-input{
    display: none;
}

.radio-input:checked + .radio-btn{
    background-color: var(--lightGrey);
}

.btn{
    background-color: var(--primary);
    border: none;
    border-radius: 1.5rem;
    color: var(--white);
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1.375rem;
    padding: 1.2em 0;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover{
    background-color: var(--white);
    color: var(--primary);
}

/* || Default card rules */
.card{
    background-color: var(--darkBlue);
    border-radius: 1rem;
    max-width: 25.7rem;
    padding: 1.44rem 1.56rem 2.25rem 1.56rem;
    width: 88%;
}

.card.card-thank-you{
    display: none;
    padding-top: 1.875rem;
    text-align: center;
}

.card-img{
    margin-bottom: 1.25rem;
}

.card-heading{
    font-size: 1.4688rem;
    margin-bottom: 0.6em;
}

.card-text{
    color: var(--lightGrey);
    font-size: 0.88rem; 
    line-height: 1.5;
}

/* || Rating rules (default state) */
.ratings-form{
    margin-top: 1.812rem;
}

.ratings{
    display: flex;
    justify-content: space-between;
}

/* || Thank you state card styles */
.card.card-thank-you img{
    height: auto;
    width: 9rem;
}

.user-rating{
    background-color: var(--lightDarkBlue);
    border-radius: 1.5rem;
    color: var(--primary);
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 1.562rem;
    padding: 8px 12px;
}

/* || Desktop Styles */
@media (min-width: 31.25rem) {
    .card{
        border-radius: 1.5rem;
        padding: 2.187rem;
    }

    .card.card-thank-you{
        padding-top: 2.812rem;
    }

    .card-text{
        font-size: 0.937rem;
    }

    .star-icon{
        width: 2.9375rem;
        height: 2.9375rem;
    }

    .radio-btn{
        width: 3.0625rem;
        height: 3.0625rem;
    }

    .card-img{
        margin-bottom: 2.25rem;
    }

    .btn{
        margin-top: 2rem;
        font-size: 0.875rem;
    }
}
