/* || Custom properties */
:root{
    --darkBlue: hsl(213, 19%, 18%);
    --darkerBlue: hsl(216, 12%, 8%);
    --lightDarkBlue: hsl(216, 12%, 24%);
    --lightGrey: hsl(217, 12%, 63%);
    --primary: hsl(25, 97%, 53%);
    --mediumGrey: hsl(216, 12%, 54%);
    --white: hsl(0, 0%, 100%);
 }
    
/* || General rules */
html{
    box-sizing: border-box;
    height: 100%;
} 

body{
    align-items: center;
    background-color: var(--darkerBlue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: "Overpass","sans-serif";
    justify-content: center;
    min-height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.attribution {
    bottom: 10px;
    position: absolute;
}


.radio-btn,
.star-icon{
    align-items: center;
    background-color: var(--lightDarkBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 42px;
    width: 42px;
}

.radio-btn{
    cursor: pointer;
    position: relative;
}

.radio-btn:hover{
    background-color: var(--primary);
    color: var(--white);
}

.radio-input{
    display: none;
}

.radio-input:checked + .radio-btn{
    background-color: var(--lightGrey);
}

.btn{
    background-color: var(--primary);
    border: none;
    border-radius: 24px;
    color: var(--white);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1.375rem;
    padding: 1.2em 0;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover{
    background-color: var(--white);
    color: var(--primary);
}

/* || Default card rules */
.card{
    background-color: var(--darkBlue);
    border-radius: 1rem;
    max-width: 25.7rem;
    padding: 23px 25px 36px 25px;
    width: 88%;
}

.card.card-thank-you{
    display: none;
    padding-top: 30px;
    text-align: center;
}

.card-img{
    margin-bottom: 20px;
}

.card-heading{
    font-size: 23.5px;
    margin-bottom: 0.6em;
}

.card-text{
    color: var(--lightGrey);
    font-size: 0.88rem; 
    line-height: 1.5;
}

/* || Rating rules (default state) */
.ratings-form{
    margin-top: 29px;
}

.ratings{
    display: flex;
    justify-content: space-between;
}

/* || Thank you state card styles */
.card.card-thank-you img{
    height: auto;
    width: 144px;
}

.user-rating{
    background-color: var(--lightDarkBlue);
    border-radius: 24px;
    color: var(--primary);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 8px 12px;
}
